.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightgray;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width:75%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  background-color: rgb(252, 203, 210);
}

.time-block{
  text-align: center;
  border-radius: 15px;
  position: relative;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-bottom: 5px solid white;
  justify-content: center;
}

.hour {
  background-color: rgb(228, 182, 255);
  color: #000000;
  border-top: 1px dashed #000000;
  width: 100px;
}

.past {
  background-color: #ff0000;
  color: white;
}

.present {
  background-color: #61ffa3;
  color: white;
}

.future {
  background-color: #77afdd;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}